
# Резервные копии Emacs (файлы, заканчивающиеся на тильду)
*~

# Файлы автосохранения Emacs (окружены решетками)
\#*\#

# Файлы блокировки (symlinks, которые Emacs создает во время редактирования)
.#*
